
h4
{
    text-align: center;
}
.firstshow
{
    padding: 1.5rem 1.5rem;
}
.container-fluid    
{
    max-width: 100%;
}

.img
{
    background-image: url("../../assets/img/backgoundimg.jpg"   ) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 50rem;
}
.cv
{
    padding-top: 2rem;
    text-align: center;
}

.btn-outline-warning
{
    background-color: ivory;
}