 <html>
    <link href='https://fonts.googleapis.com/css?family=Averia Libre' rel='stylesheet'>
     <body>
<div class="container">
    <h2>Projects I Built</h2>
    <p>some project in the difirent language i did and uplaud to github :</p>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="#" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Angular basic project</h4>
        <p class="card-text">a very simple project with small opthions. like add remove and more.</p>
        <a href="#" class="btn btn-primary stretched-link">See project</a>
      </div>
    </div>
  </div>
</body>
  </html>