<body class="page">

<!-- form goes here -->
<form class="form-contact">
    
    <h4 class="title">Contact Us!</h4>
    
    <div class="row">
        <!-- name -->
        <div class="col">
            <div class="field">
                <label for="exampleInputEmail1">Full name</label>
                <input type="text" name="name"  class="form-control" placeholder="Your Name">
            </div>
        </div>
        <!-- email -->
        <div class="col">
            <div class="field">
                  <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email"  class="form-control" placeholder="name@example.com">
            </div>
        </div>
    </div>
    <!-- message -->
    <div class="field">
        <label for="exampleInputEmail1">Message details</label>
        <textarea  class="form-control" id="exampleFormControlTextarea1" name="message" placeholder="What's on your mind?"></textarea>
    </div>
    <div style="padding-top: 2rem;">
        <button type="submit" class="btn btn-outline-dark btn-block">Send</button>
    </div>
</form>

</body>