<body class="page">

<!-- form goes here -->
<form class="form-contact" (ngSubmit)="processForm()">

    <h4 class="title">Contact Us!</h4>
    
    <div class="row">
        <!-- name -->
        <div class="col">
            <div class="field">
                <label for="exampleInputEmail1">Full name</label>
                <input type="text" name="name"  class="form-control" 
                        placeholder="Your Name" [(ngModel)]="name" required 
                        minlength="3" #nameInput="ngModel">
                        <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                            Name is required and needs to be at least 3 characters long.
                        </div>
            </div>
        </div>
        <!-- email -->
        <div class="col">
            <div class="field">
                  <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email"  class="form-control" 
                        placeholder="name@example.com" [(ngModel)]="email" 
                        required email  #emailInput="ngModel">
                        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                            Needs to be a valid email.
                        </div>
            </div>
        </div>
    </div>
    <!-- message -->
    <div class="field">
        <label for="exampleInputEmail1">Message details</label>
        <textarea   class="form-control" id="exampleFormControlTextarea1" name="message"
                    placeholder="What's on your mind?"  [(ngModel)]="message"
                    required #messageInput="ngModel"></textarea>
                    <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                        Your message is required!
                    </div>
    </div>
    <div style="padding-top: 2rem;">
        <button type="submit" class="btn btn-outline-dark btn-block">Send</button>
    </div>
</form>
</body>